apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: counter-app-replicaset
  namespace: prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: counter-app
  template:
    metadata:
      labels:
        app: counter-app
    spec:
      containers:
      - name: counter-app
        image: counter-app:latest
        ports:
        - containerPort: 3000
